IO_LOC  "ser_rx" 18;

IO_LOC  "ser_tx" 17;

IO_LOC  "resetn" 4;
IO_PORT "resetn" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "lcd_resetn" 47;
IO_PORT "lcd_resetn" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "lcd_cs" 48;
IO_PORT "lcd_cs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "lcd_clk" 76;
IO_PORT "lcd_clk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "lcd_rs" 49;
IO_PORT "lcd_rs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "lcd_data" 77;
IO_PORT "lcd_data" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;
